<table>
  <tr class="header-row">
    <th (click)="sort('name')" class="sortable">Name</th>
    <th (click)="sort('type')" class="sortable">Type</th>
    <th>Operational</th>
    <th>Orbit Type</th>
    <th>Launch Date</th>
  </tr>
  <tr *ngFor="let satellite of satellites; even as isEven" [ngStyle]="{background: isEven ? 'skyblue' : '#eeeeee'}">
    <td>{{satellite.name}}</td>
    <td><span *ngIf="satellite.isSpaceDebris(); else notDebris" class="warning">{{satellite.type}}</span></td>
    <ng-template #notDebris><td>{{satellite.type}}</td></ng-template>
    <td>{{satellite.operational}}</td>
    <td>{{satellite.orbitType}}</td>
    <td>{{satellite.launchDate}}</td>
  </tr>
</table>
